@import 'bootstrap';


:root{
    --Black: rgb(26,26,26);
    --White: rgb(250,250,250);
    --Red: #C81919;
}

.txt_white{
    color:var(--White);
}


/* NAVBAR */
.custom_navbar{
    background-color: var(--Black);
    color: var(--White);
}
.navbar-collapse{
  display: flex;
  justify-content: space-between;
}
.custom_navbar .nav_social li{
    margin: 0 5px 0 5px;
    font-size: 1.2rem;
}
.nav_social li i{
    transition: 200ms;
}
.nav_social li i:hover, .nav-link:hover,.active{
    color: var(--Red) !important; 
    cursor: pointer;
}
.navbar-brand img{
    height: 3rem;
}
.hamburger-ico{
  color: var(--White) !important;
}

/* Button */
.button {
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--Red);
    background-color: transparent;
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--Red);
  }
  
  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--Red);
    box-shadow: 4px 5px 17px -4px var(--Red);
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--Red);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }

  /* login/register */
  .form__custom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 200px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: var(--Black);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #8d1212, var(--Red));
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--Red);
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

.txt__custom{
  width: max-content ;
}
  
  
  /* HIDE PASS */

.hide_pass{
  color: #b8bcc077;
  float: right;
  top: -27px;
  left: -20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}